.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}


body {
 background-image: url("https://cdn.pixabay.com/photo/2014/09/05/18/32/old-books-436498_960_720.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 
}
h1{
 
  text-shadow: 1px 2px orangered;
  color:papayawhip;
  text-align:center;
  background-size:cover;
 
 }
 tbody {
  font-style:italic;
  color:white;
  text-decoration-style:initial;
  font-weight: bold;
 
}
thead {
  font-style:italic;
  background-color:burlywood;
}
